html {
  min-height: 100%;
  overflow-y: scroll; overflow-x:hidden;
}
body {
   position: absolute;
   background-color: #f2edfb;
}
h1{
  text-align: center;
  font-family: 'Romanesco', cursive !important;
  font-size: 80px !important;
}
h2{
  text-align: center;
  font-size: 20px !important;
}

.links{
  font-size: 100px !important;
  font-family: Romanesco,cursive !important;
  color: black;
  text-align: center;
  padding: 20px;
}

.div1{
  text-align: center;
}
.div2{
  text-align: center;
}
.britishmuseum{
  font-size: 20px;
}

.nationalgallery{
  font-size: 20px
}
.tatemuseum{
  font-size: 20px
}
.sothebys{
  font-size: 20px
}
.sciencemuseum{
  font-size: 20px
}
.nationalhistory{
  font-size: 20px
}

.row{
  padding-bottom: 200px;
  margin-left:15px;
  margin-right: 100px;
}
.column{
  margin: auto;
  padding: 2.5px;
}
.column2{
  margin: auto;
  padding: 2.5px;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

.textfooter {
  text-align: center;
  color: black;
  font-size: 20px;
}

.div2 {
  padding-bottom: 200px;
}
.linkbody{
margin:0px;
padding:0px;
width:100%;
background-color: #dfd4e2
}

.container {
  position: relative;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #f2edfb;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
